# Dependency directories
node_modules/

# Production build
build/
dist/
out/

# Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Environment configuration
.env

# Compiled files
*.log
*.pem
*.pid
*.seed
*.pid.lock
*.json

# Logs
logs
*.log
npm-debug.log*

# Optional: Cache files
.cache/

# Optional: Webpack specific files
webpack.config.js
